<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Logistica</title>
	<link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css'/>
	<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>	
</head>
<body>
	
	<div class="container">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}"></a>
			</div>
						
			<ul class="nav navbar-nav">
				<li><a class="brand" href="https://www.casadocodigo.com.br">Casa do Código</a></li>
				<li><a class="brand" href="https://www.boaglio.com">boaglio.com</a></li>
			</ul>
			
		</nav>

		<h1 layout:fragment="header">cabeçalho falso</h1>
		<div layout:fragment="content">content falso</div>
		
	</div>

</body>
</html>